var new_comment_ = $("<%= escape_javascript(render(:partial => @comment))%>").hide();
$('#comments').prepend(new_comment_);
$('#comment_<%= @comment.id %>').fadeIn('slow');
$('#new_comment')[0].reset();